@page
@using PortalFacturas.Pages
@model ErrorModel
@{
    ViewData["Title"] = "Error";
    
}

<h2 class="text-danger">Error  404 Page not found.</h2>

 <div class="form-group row justify-content-center">
  <img src="~/img/logo_cve_small.png" alt="">
 </div>


