<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>Contribuyentes Autorizados</title>

    <script type="text/javascript" src="./Contribuyentes Autorizados_files/barranav.js.descarga"></script>
    <script type="text/javascript" src="./Contribuyentes Autorizados_files/ajaxutils.js.descarga"></script>
    <script type="text/javascript" src="./Contribuyentes Autorizados_files/validaUtil.js.descarga"></script>
    <script type="text/javascript" src="./Contribuyentes Autorizados_files/GLB_links.js.descarga"></script>
    <script type="text/javascript" src="./Contribuyentes Autorizados_files/asistente_calculos_renta.js.descarga"></script>
    <script type="text/javascript" src="./Contribuyentes Autorizados_files/misalertas.js.descarga"></script>
    <script src="./Contribuyentes Autorizados_files/jquery.min.js.descarga" type="text/javascript"></script>
    <style type="text/css">
        .titulo {
            font-family: arial,helvetica;
            font-style: bold;
            font-size: 14pt;
            text-decoration: none;
            color: #000000;
        }

        .texto {
            font-family: arial,helvetica;
            font-style: normal;
            font-size: 10pt;
            text-decoration: none;
            color: #000000;
        }

        .reporte {
            font-family: arial,helvetica;
            font-style: normal;
            font-size: 7.5pt;
            text-decoration: none;
            color: #000000;
        }
    </style>
    <script type="text/javascript">
<!--
        function volver(pagina) {
            history.go(-pagina);
        }
        //-->
    </script>
</head>
<body link="#003399">
    <center>
        <div>
            <table border="0" width="920">
                <tbody>
                    <tr>
                        <td width="920">
                            <script type="text/javascript">mostrar();</script>
                            <div style="width:950px; height:49px; background-color:#002c48;">
                                <div id="conAutenticaDatos" style="color:#fff; padding:7px 20px 5px 20px; font-size:14px; font-family:Helvetica Neue,Helvetica,Arial,sans-serif; float:left;">
                                    <script type="text/javascript" language="javascript">imprimeRut();</script>Rut: 16003040 - 2
                                </div>
                                <div id="conAutenticaCerrar" style="border-radius: 13px; color:#ffffff; margin-top:11px; border:1px solid #eb510d;padding:5px 26px;font-size:14px; background-color:#eb510d; margin-right:16px; font-family:Helvetica Neue,Helvetica,Arial,sans-serif; float:right;">
                                    <a href="https://zeusr.sii.cl/cgi_AUT2000/autTermino.cgi" style="color:#fff; text-decoration:none;">Cerrar Sesión</a>
                                </div>
                            </div>
                            <div style="width:950px; height:65px; background-color:#ffffff; border-bottom:1px solid #a7a7a7; font-size:22px; font-family:Helvetica Neue,Helvetica,Arial,sans-serif;">
                                <div style="height:57px; float:left; padding:8px 0px 8px 0px;">
                                    <a href="http://homer.sii.cl/"><img src="./Contribuyentes Autorizados_files/logo.jpg" style="width:130px; height:47px; border:0;" title="SII - Servicio de Impuestos Internos"></a>
                                </div>
                                <div style="padding:20px 0px 0px 40px; float:right;">
                                    <a href="http://www.sii.cl/ayudas/asistencia/" style="text-decoration: none; color: rgb(0, 97, 160);" onmouseover="this.style.color=&#39;#eb510d&#39;" onmouseout="this.style.color=&#39;#0061A0&#39;">Contacto</a>
                                </div>
                                <div style="padding:20px 0px 0px 40px; float:right;">
                                    <a href="http://www.sii.cl/ayudas/" style="text-decoration:none; color:#0061A0;" onmouseover="this.style.color=&#39;#eb510d&#39;" onmouseout="this.style.color=&#39;#0061A0&#39;">Ayuda</a>
                                </div>
                                <div style="padding:20px 0px 0px 40px; float:right;">
                                    <a href="http://www.sii.cl/servicios_online/" style="text-decoration: none; color: rgb(0, 97, 160);" onmouseover="this.style.color=&#39;#eb510d&#39;" onmouseout="this.style.color=&#39;#0061A0&#39;">Servicios online</a>
                                </div>
                                <div style="padding:20px 0px 0px 40px; float:right;">
                                    <a href="https://misiir.sii.cl/cgi_misii/siihome.cgi" style="text-decoration:none; color:#0061A0;" onmouseover="this.style.color=&#39;#eb510d&#39;" onmouseout="this.style.color=&#39;#0061A0&#39;">Mi SII</a>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                        </td>
                    </tr>
                    <tr>
                        <td width="920">
                            <p align="justify">
                                <font color="#000000" face="Arial" size="4">
                                    <strong>
                                        <b>
                                            CONTRIBUYENTES AUTORIZADOS
                                        </b>
                                    </strong>
                                </font>
                                <br>
                                <font class="texto">A través de esta opción usted podrá ver la información de un Contribuyente autorizado en el Sistema de Factura Electrónica.</font>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td height="40">
                            <hr>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </center>
    <center>
        <table width="630">
            <tbody>
                <tr>
                    <td align="justify">
                        <font class="texto">
                            Los antecedentes del Contribuyente son :<br>
                        </font>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <table border="1" cellspacing="0" cellpadding="1" width="600">
            <tbody>
                <tr>
                    <td width="200" align="left">
                        <font class="texto">
                            &nbsp;   Rut
                        </font>
                    </td>
                    <td width="400" align="left">
                        <font class="texto">
                            &nbsp;   76470581-5
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="200" align="left">
                        <font class="texto">
                            &nbsp;  Razón Social/Nombres
                        </font>
                    </td>
                    <td width="400" align="left">
                        <font class="texto">
                            &nbsp;  SAN FRANCISCO SOLAR SPA
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="200" align="left">
                        <font class="texto">
                            &nbsp;  N° Resolución
                        </font>
                    </td>
                    <td width="400" align="left">
                        <font class="texto">
                            &nbsp;  80
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="200" align="left">
                        <font class="texto">
                            &nbsp;  Fecha Resolución
                        </font>
                    </td>
                    <td width="400" align="left">
                        <font class="texto">
                            &nbsp;  22-08-2014
                        </font>
                    </td>
                </tr>
                <tr>
                    <td width="200" align="left">
                        <font class="texto">
                            &nbsp;  Mail de contacto
                        </font>
                    </td>
                    <td width="400" align="left">
                        <font class="texto">
                            &nbsp;  facturacionchile@capvertenergie.com
                        </font>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <table border="0" align="center">
            <tbody>
                <tr>
                    <td width="630" align="justify">
                        <font class="texto">
                            El contribuyente tiene autorizado la emisión de los siguientes documentos tributarios electrónicos:
                        </font>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <table border="1" cellspacing="1" width="630">
            <tbody>
                <tr>
                    <td width="10" align="center">
                        <font class="texto">    Código  </font>
                    </td>
                    <td width="460" align="center">
                        <font class="texto">    Descripción  </font>
                    </td>
                    <td width="80" align="center">
                        <font class="texto">    Autorizado  </font>
                    </td>
                    <td width="80" align="center">
                        <font class="texto">    Desautorizado  </font>
                    </td>
                </tr>
                <tr>
                    <td width="10" align="right">
                        <font class="texto">    33  </font>
                    </td>
                    <td width="460" align="left">
                        <font class="texto">    FACTURA ELECTRONICA  </font>
                    </td>
                    <td width="80" align="center">
                        <font class="texto">    29-08-2017  </font>
                    </td>
                    <td width="80" align="center">
                        <font class="texto">    &nbsp;  </font>
                    </td>
                </tr>
                <tr>
                    <td width="10" align="right">
                        <font class="texto">    34  </font>
                    </td>
                    <td width="460" align="left">
                        <font class="texto">    FACTURA NO AFECTA O EXENTA ELECTRONICA  </font>
                    </td>
                    <td width="80" align="center">
                        <font class="texto">    01-08-2017  </font>
                    </td>
                    <td width="80" align="center">
                        <font class="texto">    &nbsp;  </font>
                    </td>
                </tr>
                <tr>
                    <td width="10" align="right">
                        <font class="texto">    56  </font>
                    </td>
                    <td width="460" align="left">
                        <font class="texto">    NOTA DEBITO ELECTRONICA  </font>
                    </td>
                    <td width="80" align="center">
                        <font class="texto">    01-08-2017  </font>
                    </td>
                    <td width="80" align="center">
                        <font class="texto">    &nbsp;  </font>
                    </td>
                </tr>
                <tr>
                    <td width="10" align="right">
                        <font class="texto">    61  </font>
                    </td>
                    <td width="460" align="left">
                        <font class="texto">    NOTA CREDITO ELECTRONICA  </font>
                    </td>
                    <td width="80" align="center">
                        <font class="texto">    01-08-2017  </font>
                    </td>
                    <td width="80" align="center">
                        <font class="texto">    &nbsp;  </font>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <form name="frm1" method="post" action="https://palena.sii.cl/cvc_cgi/dte/ce_consulta_e">
            <input type="button" name="NEW" value="  Volver  " onclick="volver(1);">
        </form>
    </center>
    <script type="text/javascript">document.frm1.NEW.focus()</script>


</body>
</html>

