<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html>
<head>
<title>Reobtenci&oacute;n de Folios</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<script type="text/javascript" src="https://zeus.sii.cl/admin/barranav.js">
</script>
<script type="text/javascript" src="/cvc/dte/validadte.js">
</script>
<script type="text/javascript"><!-- Inicio
function cambiapag(valor){
  document.frmObtencion.PAGINA.value = valor
  document.frmObtencion.submit()
}
//  Fin --></script>
<STYLE TYPE="text/css">
 .titulo  {
  font-family: arial,helvetica;
  font-style: bold;
  font-size: 14pt;
  text-decoration: none;
  color: #000000;
 }
 .texto  {
  font-family: arial,helvetica;
  font-style: normal;
  font-size: 10pt;
  text-decoration: none;
  color: #000000;
 }
 .reporte  {
  font-family: arial,helvetica;
  font-style: normal;
  font-size: 7.5pt;
  text-decoration: none;
  color: #000000;
 }
</STYLE>
<script type="text/javascript">
<!--
function volver(pagina)
{
  history.go(-pagina);
}
//-->
</script>
</head>
<body link="#003399">
<center><div><table border="0" width="920">
<tr><td width="920">
<script type="text/javascript">mostrar();</script></td></tr>
<tr><td width="920"><p align="justify"><br>
<font color="#000000" face="Arial" size="4"><strong><B>
REOBTENCION DE FOLIOS
</b></strong></font><br>
<font class="texto">En esta p&aacute;gina usted podr&aacute; seleccionar el rango de folios que desea reobtener, siempre y cuando ning&uacute;n folio haya sido recepcionado por el SII.</font>
</p></td></tr>
<tr>
<td height="40"><hr>
</td>
</tr>
</table></div></center>
<center><table border="0" align="center">
<tr><td width="630"><p align="justify"><font class="texto">
El contribuyente <b>SAN FRANCISCO SOLAR SPA</b> Rut <b>76470581-5</b>, registra la siguiente informaci&oacute;n para<b> FACTURA ELECTRONICA</b>:</font></p></td></tr>
</table></center><br>
<center><table border="1" cellspacing=1 width="450">
<tr>
   <td width="80" align="center"><font class="texto">      Fecha   </font></td>
   <td width="70" align="center"><font class="texto">      Cantidad   </font></td>
   <td width="80" align="center"><font class="texto">      Folio Inicial   </font></td>
   <td width="80" align="center"><font class="texto">      Folio final   </font></td>
   <td width="140" align="center"><font class="texto">      Reobtener   </font></td>
</tr>
<tr>
<td width="80" align="right"><font class="texto">      15-06-2022   </font></td>
   <td width="70" align="right"><font class="texto">      1   </font></td>
   <td width="80" align="right"><font class="texto">      8226   </font></td>
   <td width="80" align="right"><font class="texto">      8226   </font></td>
   <td width="0" style="display:none"><form name="frm8226" method="post" action="/cvc_cgi/dte/rf_reobtencion3_folios">
<input name="PAGINA"  type="hidden" value="185624">
<input name="CANT_DOCTOS" type="hidden" value="1">
<input name="RUT_EMP" type="hidden" value="76470581">
<input name="DV_EMP" type="hidden" value="5">
<input name="DIA" type="hidden" value="15">
<input name="ANO" type="hidden" value="2022">
<input name="MES" type="hidden" value="06">
<input name="COD_DOCTO" type="hidden" value="33">
<input name="FOLIO_INI" type="hidden" value="8226">
<input name="FOLIO_FIN" type="hidden" value="8226">
</form>
   </td>
   <td width="140" align="center"><font class="texto"><input type="button" name="MOD" value="Reobtener" onClick="frm8226.submit();">   </font></td>
</tr>
<tr>
<td width="80" align="right"><font class="texto">      09-06-2022   </font></td>
   <td width="70" align="right"><font class="texto">      1   </font></td>
   <td width="80" align="right"><font class="texto">      8225   </font></td>
   <td width="80" align="right"><font class="texto">      8225   </font></td>
   <td width="0" style="display:none"><form name="frm8225" method="post" action="/cvc_cgi/dte/rf_reobtencion3_folios">
<input name="PAGINA"  type="hidden" value="185624">
<input name="CANT_DOCTOS" type="hidden" value="1">
<input name="RUT_EMP" type="hidden" value="76470581">
<input name="DV_EMP" type="hidden" value="5">
<input name="DIA" type="hidden" value="09">
<input name="ANO" type="hidden" value="2022">
<input name="MES" type="hidden" value="06">
<input name="COD_DOCTO" type="hidden" value="33">
<input name="FOLIO_INI" type="hidden" value="8225">
<input name="FOLIO_FIN" type="hidden" value="8225">
</form>
   </td>
   <td width="140" align="center"><font class="texto"><input type="button" name="MOD" value="Reobtener" onClick="frm8225.submit();">   </font></td>
</tr>
<tr>
<td width="80" align="right"><font class="texto">      09-06-2022   </font></td>
   <td width="70" align="right"><font class="texto">      4   </font></td>
   <td width="80" align="right"><font class="texto">      8221   </font></td>
   <td width="80" align="right"><font class="texto">      8224   </font></td>
   <td width="0" style="display:none"><form name="frm8221" method="post" action="/cvc_cgi/dte/rf_reobtencion3_folios">
<input name="PAGINA"  type="hidden" value="185624">
<input name="CANT_DOCTOS" type="hidden" value="4">
<input name="RUT_EMP" type="hidden" value="76470581">
<input name="DV_EMP" type="hidden" value="5">
<input name="DIA" type="hidden" value="09">
<input name="ANO" type="hidden" value="2022">
<input name="MES" type="hidden" value="06">
<input name="COD_DOCTO" type="hidden" value="33">
<input name="FOLIO_INI" type="hidden" value="8221">
<input name="FOLIO_FIN" type="hidden" value="8224">
</form>
   </td>
   <td width="140" align="center"><font class="texto"><input type="button" name="MOD" value="Reobtener" onClick="frm8221.submit();">   </font></td>
</tr>
<tr>
<td width="80" align="right"><font class="texto">      09-06-2022   </font></td>
   <td width="70" align="right"><font class="texto">      1   </font></td>
   <td width="80" align="right"><font class="texto">      8220   </font></td>
   <td width="80" align="right"><font class="texto">      8220   </font></td>
   <td width="0" style="display:none"><form name="frm8220" method="post" action="/cvc_cgi/dte/rf_reobtencion3_folios">
<input name="PAGINA"  type="hidden" value="185624">
<input name="CANT_DOCTOS" type="hidden" value="1">
<input name="RUT_EMP" type="hidden" value="76470581">
<input name="DV_EMP" type="hidden" value="5">
<input name="DIA" type="hidden" value="09">
<input name="ANO" type="hidden" value="2022">
<input name="MES" type="hidden" value="06">
<input name="COD_DOCTO" type="hidden" value="33">
<input name="FOLIO_INI" type="hidden" value="8220">
<input name="FOLIO_FIN" type="hidden" value="8220">
</form>
   </td>
   <td width="140" align="center"><font class="texto"><input type="button" name="MOD" value="Reobtener" onClick="frm8220.submit();">   </font></td>
</tr>
<tr>
<td width="80" align="right"><font class="texto">      09-06-2022   </font></td>
   <td width="70" align="right"><font class="texto">      1   </font></td>
   <td width="80" align="right"><font class="texto">      8219   </font></td>
   <td width="80" align="right"><font class="texto">      8219   </font></td>
   <td width="0" style="display:none"><form name="frm8219" method="post" action="/cvc_cgi/dte/rf_reobtencion3_folios">
<input name="PAGINA"  type="hidden" value="185624">
<input name="CANT_DOCTOS" type="hidden" value="1">
<input name="RUT_EMP" type="hidden" value="76470581">
<input name="DV_EMP" type="hidden" value="5">
<input name="DIA" type="hidden" value="09">
<input name="ANO" type="hidden" value="2022">
<input name="MES" type="hidden" value="06">
<input name="COD_DOCTO" type="hidden" value="33">
<input name="FOLIO_INI" type="hidden" value="8219">
<input name="FOLIO_FIN" type="hidden" value="8219">
</form>
   </td>
   <td width="140" align="center"><font class="texto"><input type="button" name="MOD" value="Reobtener" onClick="frm8219.submit();">   </font></td>
</tr>
<tr>
<td width="80" align="right"><font class="texto">      09-06-2022   </font></td>
   <td width="70" align="right"><font class="texto">      1   </font></td>
   <td width="80" align="right"><font class="texto">      8218   </font></td>
   <td width="80" align="right"><font class="texto">      8218   </font></td>
   <td width="0" style="display:none"><form name="frm8218" method="post" action="/cvc_cgi/dte/rf_reobtencion3_folios">
<input name="PAGINA"  type="hidden" value="185624">
<input name="CANT_DOCTOS" type="hidden" value="1">
<input name="RUT_EMP" type="hidden" value="76470581">
<input name="DV_EMP" type="hidden" value="5">
<input name="DIA" type="hidden" value="09">
<input name="ANO" type="hidden" value="2022">
<input name="MES" type="hidden" value="06">
<input name="COD_DOCTO" type="hidden" value="33">
<input name="FOLIO_INI" type="hidden" value="8218">
<input name="FOLIO_FIN" type="hidden" value="8218">
</form>
   </td>
   <td width="140" align="center"><font class="texto"><input type="button" name="MOD" value="Reobtener" onClick="frm8218.submit();">   </font></td>
</tr>
<tr>
<td width="80" align="right"><font class="texto">      08-06-2022   </font></td>
   <td width="70" align="right"><font class="texto">      1   </font></td>
   <td width="80" align="right"><font class="texto">      8217   </font></td>
   <td width="80" align="right"><font class="texto">      8217   </font></td>
   <td width="0" style="display:none"><form name="frm8217" method="post" action="/cvc_cgi/dte/rf_reobtencion3_folios">
<input name="PAGINA"  type="hidden" value="185624">
<input name="CANT_DOCTOS" type="hidden" value="1">
<input name="RUT_EMP" type="hidden" value="76470581">
<input name="DV_EMP" type="hidden" value="5">
<input name="DIA" type="hidden" value="08">
<input name="ANO" type="hidden" value="2022">
<input name="MES" type="hidden" value="06">
<input name="COD_DOCTO" type="hidden" value="33">
<input name="FOLIO_INI" type="hidden" value="8217">
<input name="FOLIO_FIN" type="hidden" value="8217">
</form>
   </td>
   <td width="140" align="center"><font class="texto"><input type="button" name="MOD" value="Reobtener" onClick="frm8217.submit();">   </font></td>
</tr>
<tr>
<td width="80" align="right"><font class="texto">      08-06-2022   </font></td>
   <td width="70" align="right"><font class="texto">      1   </font></td>
   <td width="80" align="right"><font class="texto">      8216   </font></td>
   <td width="80" align="right"><font class="texto">      8216   </font></td>
   <td width="0" style="display:none"><form name="frm8216" method="post" action="/cvc_cgi/dte/rf_reobtencion3_folios">
<input name="PAGINA"  type="hidden" value="185624">
<input name="CANT_DOCTOS" type="hidden" value="1">
<input name="RUT_EMP" type="hidden" value="76470581">
<input name="DV_EMP" type="hidden" value="5">
<input name="DIA" type="hidden" value="08">
<input name="ANO" type="hidden" value="2022">
<input name="MES" type="hidden" value="06">
<input name="COD_DOCTO" type="hidden" value="33">
<input name="FOLIO_INI" type="hidden" value="8216">
<input name="FOLIO_FIN" type="hidden" value="8216">
</form>
   </td>
   <td width="140" align="center"><font class="texto"><input type="button" name="MOD" value="Reobtener" onClick="frm8216.submit();">   </font></td>
</tr>
<tr>
<td width="80" align="right"><font class="texto">      08-06-2022   </font></td>
   <td width="70" align="right"><font class="texto">      1   </font></td>
   <td width="80" align="right"><font class="texto">      8215   </font></td>
   <td width="80" align="right"><font class="texto">      8215   </font></td>
   <td width="0" style="display:none"><form name="frm8215" method="post" action="/cvc_cgi/dte/rf_reobtencion3_folios">
<input name="PAGINA"  type="hidden" value="185624">
<input name="CANT_DOCTOS" type="hidden" value="1">
<input name="RUT_EMP" type="hidden" value="76470581">
<input name="DV_EMP" type="hidden" value="5">
<input name="DIA" type="hidden" value="08">
<input name="ANO" type="hidden" value="2022">
<input name="MES" type="hidden" value="06">
<input name="COD_DOCTO" type="hidden" value="33">
<input name="FOLIO_INI" type="hidden" value="8215">
<input name="FOLIO_FIN" type="hidden" value="8215">
</form>
   </td>
   <td width="140" align="center"><font class="texto"><input type="button" name="MOD" value="Reobtener" onClick="frm8215.submit();">   </font></td>
</tr>
<tr>
<td width="80" align="right"><font class="texto">      08-06-2022   </font></td>
   <td width="70" align="right"><font class="texto">      1   </font></td>
   <td width="80" align="right"><font class="texto">      8214   </font></td>
   <td width="80" align="right"><font class="texto">      8214   </font></td>
   <td width="0" style="display:none"><form name="frm8214" method="post" action="/cvc_cgi/dte/rf_reobtencion3_folios">
<input name="PAGINA"  type="hidden" value="185624">
<input name="CANT_DOCTOS" type="hidden" value="1">
<input name="RUT_EMP" type="hidden" value="76470581">
<input name="DV_EMP" type="hidden" value="5">
<input name="DIA" type="hidden" value="08">
<input name="ANO" type="hidden" value="2022">
<input name="MES" type="hidden" value="06">
<input name="COD_DOCTO" type="hidden" value="33">
<input name="FOLIO_INI" type="hidden" value="8214">
<input name="FOLIO_FIN" type="hidden" value="8214">
</form>
   </td>
   <td width="140" align="center"><font class="texto"><input type="button" name="MOD" value="Reobtener" onClick="frm8214.submit();">   </font></td>
</tr>
<tr>
<td width="80" align="right"><font class="texto">      08-06-2022   </font></td>
   <td width="70" align="right"><font class="texto">      1   </font></td>
   <td width="80" align="right"><font class="texto">      8213   </font></td>
   <td width="80" align="right"><font class="texto">      8213   </font></td>
   <td width="0" style="display:none"><form name="frm8213" method="post" action="/cvc_cgi/dte/rf_reobtencion3_folios">
<input name="PAGINA"  type="hidden" value="185624">
<input name="CANT_DOCTOS" type="hidden" value="1">
<input name="RUT_EMP" type="hidden" value="76470581">
<input name="DV_EMP" type="hidden" value="5">
<input name="DIA" type="hidden" value="08">
<input name="ANO" type="hidden" value="2022">
<input name="MES" type="hidden" value="06">
<input name="COD_DOCTO" type="hidden" value="33">
<input name="FOLIO_INI" type="hidden" value="8213">
<input name="FOLIO_FIN" type="hidden" value="8213">
</form>
   </td>
   <td width="140" align="center"><font class="texto"><input type="button" name="MOD" value="Reobtener" onClick="frm8213.submit();">   </font></td>
</tr>
<tr>
<td width="80" align="right"><font class="texto">      08-06-2022   </font></td>
   <td width="70" align="right"><font class="texto">      1   </font></td>
   <td width="80" align="right"><font class="texto">      8212   </font></td>
   <td width="80" align="right"><font class="texto">      8212   </font></td>
   <td width="0" style="display:none"><form name="frm8212" method="post" action="/cvc_cgi/dte/rf_reobtencion3_folios">
<input name="PAGINA"  type="hidden" value="185624">
<input name="CANT_DOCTOS" type="hidden" value="1">
<input name="RUT_EMP" type="hidden" value="76470581">
<input name="DV_EMP" type="hidden" value="5">
<input name="DIA" type="hidden" value="08">
<input name="ANO" type="hidden" value="2022">
<input name="MES" type="hidden" value="06">
<input name="COD_DOCTO" type="hidden" value="33">
<input name="FOLIO_INI" type="hidden" value="8212">
<input name="FOLIO_FIN" type="hidden" value="8212">
</form>
   </td>
   <td width="140" align="center"><font class="texto"><input type="button" name="MOD" value="Reobtener" onClick="frm8212.submit();">   </font></td>
</tr>
<tr>
<td width="80" align="right"><font class="texto">      25-05-2022   </font></td>
   <td width="70" align="right"><font class="texto">      189   </font></td>
   <td width="80" align="right"><font class="texto">      8023   </font></td>
   <td width="80" align="right"><font class="texto">      8211   </font></td>
   <td width="0" style="display:none"><form name="frm8023" method="post" action="/cvc_cgi/dte/rf_reobtencion3_folios">
<input name="PAGINA"  type="hidden" value="185624">
<input name="CANT_DOCTOS" type="hidden" value="189">
<input name="RUT_EMP" type="hidden" value="76470581">
<input name="DV_EMP" type="hidden" value="5">
<input name="DIA" type="hidden" value="25">
<input name="ANO" type="hidden" value="2022">
<input name="MES" type="hidden" value="05">
<input name="COD_DOCTO" type="hidden" value="33">
<input name="FOLIO_INI" type="hidden" value="8023">
<input name="FOLIO_FIN" type="hidden" value="8211">
</form>
   </td>
   <td width="140" align="center"><font class="texto"><input type="button" name="MOD" value="Reobtener" onClick="frm8023.submit();">   </font></td>
</tr>
<tr>
<td width="80" align="right"><font class="texto">      04-05-2022   </font></td>
   <td width="70" align="right"><font class="texto">      1   </font></td>
   <td width="80" align="right"><font class="texto">      8022   </font></td>
   <td width="80" align="right"><font class="texto">      8022   </font></td>
   <td width="0" style="display:none"><form name="frm8022" method="post" action="/cvc_cgi/dte/rf_reobtencion3_folios">
<input name="PAGINA"  type="hidden" value="185624">
<input name="CANT_DOCTOS" type="hidden" value="1">
<input name="RUT_EMP" type="hidden" value="76470581">
<input name="DV_EMP" type="hidden" value="5">
<input name="DIA" type="hidden" value="04">
<input name="ANO" type="hidden" value="2022">
<input name="MES" type="hidden" value="05">
<input name="COD_DOCTO" type="hidden" value="33">
<input name="FOLIO_INI" type="hidden" value="8022">
<input name="FOLIO_FIN" type="hidden" value="8022">
</form>
   </td>
   <td width="140" align="center"><font class="texto"><input type="button" name="MOD" value="Reobtener" onClick="frm8022.submit();">   </font></td>
</tr>
<tr>
<td width="80" align="right"><font class="texto">      27-04-2022   </font></td>
   <td width="70" align="right"><font class="texto">      33   </font></td>
   <td width="80" align="right"><font class="texto">      7989   </font></td>
   <td width="80" align="right"><font class="texto">      8021   </font></td>
   <td width="0" style="display:none"><form name="frm7989" method="post" action="/cvc_cgi/dte/rf_reobtencion3_folios">
<input name="PAGINA"  type="hidden" value="185624">
<input name="CANT_DOCTOS" type="hidden" value="33">
<input name="RUT_EMP" type="hidden" value="76470581">
<input name="DV_EMP" type="hidden" value="5">
<input name="DIA" type="hidden" value="27">
<input name="ANO" type="hidden" value="2022">
<input name="MES" type="hidden" value="04">
<input name="COD_DOCTO" type="hidden" value="33">
<input name="FOLIO_INI" type="hidden" value="7989">
<input name="FOLIO_FIN" type="hidden" value="8021">
</form>
   </td>
   <td width="140" align="center"><font class="texto"><input type="button" name="MOD" value="Reobtener" onClick="frm7989.submit();">   </font></td>
</tr>
</table></center>
<br><center>
<form name="frmObtencion" method="post" action="/cvc_cgi/dte/rf_reobtencion2_folios">
<input type="button" name="NEXT" value="Ver Siguiente" onClick="cambiapag(2);">
<input type=button value="Consultar otro" onClick="location.href='/cvc_cgi/dte/rf_reobtencion1_folios';">
<input name="PAGINA" type="hidden" value="1">
<input name="RUT_EMP" type="hidden" value="76470581">
<input name="DV_EMP" type="hidden" value="5">
<input name="COD_DOCTO" type="hidden" value="33">
</form>
</center>
<center><table border="0" width="630" align="center">
<tr><td align="left"><font class="texto">
Los folios ya autorizados pueden ser reobtenidos por un Usuario Administrador o por el mismo Usuario Autorizado que los obtuvo originalmente.</font></td></tr></TABLE></center><br>
</body>
</html>
